<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    ## RewriteBase should be set in global apache
    ## configuration of the application
    #RewriteBase /path/to/app
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
